<% content_for :page_title do %>
  <%= current_user.id==resource.id ? t('.my_profile') : t('.title', resource: resource_name.to_s.humanize) %>
<% end %>

<!-- Page Content -->

<div class="row mb-2">
    <div class="col-md-6">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Edit Profile</h5>
        </div>
        <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= bootstrap_devise_error_messages! %>
          <div class="form-group">
            <div>
              <%= f.label :name, class: "col-form-label" %>
              <%= f.text_field :name, autofocus: true, autocomplete: false, class: 'form-control here' %>
            </div>
          </div>

          <div class="form-group">
            <div>
              <%= f.label :email, class: "col-form-label"  %>
              <%= f.email_field :email, autofocus: true, autocomplete: false, class: 'form-control here', readonly: true %>
            </div>
          </div>
          <div class="form-group">
            <div>
              <%= f.label :password, class: "col-form-label"  %>
              <%= f.password_field :password, autocomplete: false, class: 'form-control here' %>
              <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
            </div>
          </div>
          <div class="form-group">
            <div>
              <%= f.label :password_confirmation, class: "col-form-label"  %>
              <%= f.password_field :password_confirmation, autocomplete: false, class: 'form-control here' %>
              <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
            </div>
          </div>
          <div class="form-group">
            <div>
              <%= f.label :current_password, class: "col-form-label"  %>
              <%= f.password_field :current_password, autocomplete: false, class: 'form-control here' %>
            </div>
          </div>
          <div class="form-group">
            <div>
              <%= f.submit t('.update'), class: 'btn btn-outline-primary' %>
            </div>
          </div>
<%
=begin%>
 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>
            </div>
          </div>
           
<%
=end%>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%=render partial: "/common/plan_#{current_user.plan}"%>
    </div>
    <div class="col-md-3">
      <%=render partial: "/common/plan_#{current_user.plan + 1}" if current_user.plan < User::PLANS.length-1%>
    </div>
</div>