  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">A beautiful Image Utility/API 
                  <span>crafted for web applications and blogs</span>
                </h1>
                <p class="lead  text-white">ImageUtil comes with real-time, intelligent transformation and optimization options to help you get started faster. All of your images will be optimized and transformed on the fly.</p>
                <div class="btn-wrapper">
                  <a href="/users/sign_up" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                    <span class="btn-inner--text">Signup for free</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-mobile-button"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">For all devices</h6>
                    <p class="description mt-3">Every device has a different screen size. Use our on the fly resize api to render the images perfectly on any device.</p>
                    <div>
                      <span class="badge badge-pill badge-primary">responsive</span>
                      <span class="badge badge-pill badge-primary">mobile</span>
                      <span class="badge badge-pill badge-primary">creative</span>
                    </div>
                    <a href="/doc" class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Optimize for SEO</h6>
                    <p class="description mt-3">Search engines take page load time very seriously. Or API will optimize the images on the fly to improve your SEO results.</p>
                    <div>
                      <span class="badge badge-pill badge-success">seo</span>
                      <span class="badge badge-pill badge-success">marketing</span>
                      <span class="badge badge-pill badge-success">success</span>
                    </div>
                    <a href="/doc" class="btn btn-success mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-satisfied"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Single Image</h6>
                    <p class="description mt-3">Reduce design and maintenance time dramatically by creating a single image and let our APIs manage the rest.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">productivity</span>
                      <span class="badge badge-pill badge-warning">deliver</span>
                      <span class="badge badge-pill badge-warning">launch</span>
                    </div>
                    <a href="/doc" class="btn btn-warning mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <%= image_tag "theme/promo-1.png", class: "img-fluid floating" %>
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                <i class="ni ni-settings-gear-65"></i>
              </div>
              <h3>Main features</h3>
              <p>The kit comes with many pre-built effects and image transformations and optimization options to help you get started faster. Just add them to the image URL to use it.</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-settings-gear-65"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Works with URL parameters</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-html5"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Smart crop with face and element detection</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-success mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Webp support</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6">
            <div class="card bg-default shadow border-0">
              <%= image_tag "theme/img-1-1200x1000.jpg", class: "card-img-top" %>
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                  <polygon points="0,52 583,95 0,95" class="fill-default" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                </svg>
                <h4 class="display-3 font-weight-bold text-white">Support</h4>
                <p class="lead text-italic text-white">Our 24x7 hours support, will get your queries resolved.</p>
              </blockquote>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                <i class="ni ni-settings"></i>
              </div>
              <h3>Awesome support</h3>
              <p class="lead">Our customers are our highest priority, our support team is available round the clock to help you resolve  issues or queries.</p>
              <a href="mailto: support@int2root.com" class="font-weight-bold text-warning mt-5">Send an email to support</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section pb-0 bg-gradient-warning">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
             <%= image_tag "ill/ill-2.svg", class: "img-center img-fluid" %>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-building text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Developers</h4>
                <p class="text-white">Simply add our javascript plugin to your pages and let the plugin take care of every URL or choose and use the code snippets in your server code.</p>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Developer support</h5>
                    <p>We also galdly support your Developers for integrations, just drop us an email explaining about your requirement or problem.</p>
                    <a href="mailto:support@int2toot.com" class="text-success">Email Us</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Feature Request</h5>
                    <p>We believe understanding your imaging requirements/problem will help us build a world class product. Please feel free to drop us an email about your thoughts. Let our team work on it.</p>
                    <a href="mailto:support@int2toot.com" class="text-warning">Drop us a line</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>



    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Do you love this awesome
              <span class="text-success">Image Utility/API ?</span>
            </h2>
            <p class="lead">Cause if you do, it can be yours for FREE. Drop us a line, we are giving free unlimited access to early bird supporters!</p>
            <div class="btn-wrapper">
              <a href="mailto:support@int2root.com" class="btn btn-primary mb-3 mb-sm-0">Early bird Offer!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg">
      <div class="container container-lg">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <div class="card card-lift--hover shadow border-0">
              <%= image_tag "theme/landing.jpg", class: "card-img" %>
            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-0">
            <div class="card card-lift--hover shadow border-0">
              <%= image_tag "theme/profile.jpg", class: "card-img" %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>