<!-- Page Content -->
<% if project.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(project.errors.count, "error") %> prohibited this origin from being saved:</strong>

      <ul style="padding-inline-start: 30px;color: red;">
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_with(model: project, local: true) do |f| %>

  <%= f.hidden_field :uuid %>

  <div class="form-group">
    <%= f.label :name  %>
    <%= f.text_field :name, autofocus: true, autocomplete: false, class: 'form-control', disabled: current_user.is_support? %>
    <small class="form-text text-muted">This can be any name with which you want to identify the origin. Can contain alphabets, numbers and spaces.</small>
  </div>

  <div class="form-group">
    <%= f.label :fqdn %>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend input-group-append">
        <%= f.select :protocol, ['http', 'https'], { class: 'form-control' }, disabled: current_user.is_support? %>
      </div>
      <%= f.text_field :fqdn, autofocus: true, autocomplete: false, class: 'form-control', placeholder: 'E.g. images.yourdomain.com', disabled: current_user.is_support? %>
    </div>
    <small class="form-text text-muted">Fully qualified domain name of the web server or storage which you are using for delivery or storing images and the protocol (http or https)
    </small>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-outline-primary' unless current_user.is_support?%>
  </div>
<% end %>