<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A beautiful Image Utility/Api crafted for web applications and blogs">
    <meta name="author" content="">
    
    <title>ImageUtil - A beautiful Image Utility/API crafted for web applications and blogs</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path "favicon/apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path "favicon/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path "favicon/favicon-16x16.png" %>">
    <link rel="manifest" href="<%= asset_path "favicon/site.webmanifest" %>">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>